@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #app{
    height: 100%;
    background-color: #F5F5F5!important;
}

*{
    font-family: Verdana, Montserrat;
}

#app{
 width: 1000px;
    margin: auto;
}

/*FONTEND NAVBAR*/
.navbar{
    border: 1px solid black;
    background-color: white !important;
    text-transform: uppercase;
    color: #2B2D42 !important;
    padding-top: 40px;
    padding-bottom: 40px;
}
.navbar-nav > li > a{
    margin-left: 2rem;
    margin-right: 2rem;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
}




@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (max-width: 992px) {
    #loginBtn{
        margin: auto !important;
    }
    #navHeader{
        visibility: hidden;
    }

}

@media (min-width: 1200px) {

}







/*FOR NAVIGATION BAR IN DASHBOARD*/
.sidebar{
    background-color: blue;
    color: #EDF2F4;
    border-radius: 0.5rem;
    margin-top: 2rem;
}

.list-group-item{
    background-color: blue;
    border: none;
}

#dashboard-main-links{
   padding: 2rem !important;
}
