@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #app{
    height: 100%;
}

*{
    font-family: Verdana, Montserrat;
}

.navbar{
    border: 1px solid black;
    background-color: white !important;
    text-transform: uppercase;
    color: #2B2D42 !important;
    padding-top: 40px;
    padding-bottom: 40px;
}
.navbar-nav > li > a{
    margin-left: 2rem;
    margin-right: 2rem;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
}




@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (max-width: 992px) {
    #loginBtn{
        margin: auto !important;
    }
    #navHeader{
        visibility: hidden;
    }

}

@media (min-width: 1200px) {

}







/*FOR NAVIGATION BAR IN DASHBOARD*/

#userInfoSection{
    text-transform: uppercase;
    text-weight: bold;
    text-align: center;
    justify-content: center;
}

#userInfoSection img{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
hr{
    background-color: white;
    height: 1px;
    margin: auto;
    width: 80%;
}
.sidebar{
    margin: 0;
    padding: 1.5rem;
    width: 250px;
    background-color: #4A4E69;
    color: #EDF2F4;
    position: fixed;
    height: 100%;
    overflow: auto;



}
.sidebar a {
    display: block;
    color: #EDF2F4;
    padding: 16px;
    text-decoration: none;
}

div.content{
    margin-left: 250px;
    padding: 1px 16px;
}

.dashboard-nav-icon{

}
.dashboard-nav-link{

}
.dashboard-nav-span{
    font-size: 1rem;
}

#dashboard-main-links{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#dashboard-bottom-links{
float: bottom;
}





.sidebar a.router-link-active,
.sidebar a.router-link-exact-active {
    background-color: #404256;
    color: white;
}


@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
    #userInfoSection{Display: none;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
